<div class="main">
  <ng-http-loader spinner="sk-wave"></ng-http-loader>
  <div class="headers">
    <h5>Poke Data</h5>
    <input placeholder="search" type="text" name="search" value="search" [(ngModel)]="search" #searchvarlues="ngModel"
    (keyup)="searchpokedata(searchvarlues.value)" />
  </div> 

  <mat-card class="poke_arr" *ngFor="let pokearr of pokeNewArry| pokedatafileter: search; let i = index; ">
    <p>{{pokearr.pokename}}</p>
    <img src={{pokearr.pokeimgUrl}}>
  
  </mat-card>
  <!-- <h5  class="error" *ngIf="!pokedatafileter">No Pokeman Details</h5> -->
</div>
