/* You can add global styles to this file, and also import other style files */
body{
    width: calc(100% - 30px);
    float: left;
    background: #f3f3f3;
    margin: 0px 15px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
